* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem; /* 16px */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

:root {
    --fontColer: #094183;
    --coursesColor: #edf2f5;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 15px;
    line-height: 1.6;
    /*tao khoảng cách giauwx các phần tử */
    color: #333;
}

a {
    text-decoration: none;
    /*bỏ gạch chân*/
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* header styles */

/* -------------------------------------------------------------------------------------------------------------------------------- */
/* banner styles */
.banner {
    background: url('../images/gthieu-banner.jpg') center center / cover no-repeat;
    height: 500px;
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-text {
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    text-shadow: 3px 3px 6px #07135a;
}

.banner-text h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner-text p {
    font-size: 16px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: var(--fontColer);
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: var(--fontColer);
    border: 1px solidvar(--fontColer);
    text-shadow: none;
}

/* feature styles */
.feature {
    padding: 80px 0;
    background-color: #f6f6f6;
}

.feature-box {
    text-align: center;
    margin-bottom: 50px;
}

.feature-box h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.icon {
    display: inline-block;
    background-color: var(--fontColer);
    color: #fff;
    padding: 20px;
    border-radius: 40%;
    margin-bottom: 30px;
}

/* .icon img {
    height: 30px;
  } */
div.text {
    background-color: #f2f2f2;
    padding: 10px;
    display: none;
    border: 3px solid #333;
    box-shadow: 2px 2px 5px #07135a;
    border-radius: 10%;
    font-size: 15px;
    padding: 30px;
}

/* .selectedText, .text {
    transition: opacity 2s ease;
    opacity: 1;
  } */
.feature-box p {
    font-size: 16px;
}

/* ----------------------------------------------------- */
/* apply */
.apply {
    background-color: #f2f2f2;
}

.apply .apply-img {
    width: 48%;
}

.apply .apply-img img {
    width: 100%;
}

.apply .apply-table {
    width: 48%;
}

.apply h1 {
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--fontColer);
    border-radius: 20px 20px 0 0;
    color: #fff;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.apply form {
    padding: 2rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

form:first-child {
    text-align: center !important;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #f2f2f2;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.radio-group label {
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

.file-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.file-label {
    padding: 10px;
    background-color: #07135a;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

/* input[type="file"] {
    display: none;
} */
/* Thiết lập cho các trường nhập tệp */
/* Thiết lập cho các trường nhập tệp */
input[type="file"] {
    display: block;
    /* Hiển thị trường nhập làm một khối */
    margin-bottom: 20px;
    /* Khoảng cách giữa các trường nhập */
    font-size: 16px;
    /* Kích thước chữ */
    color: #555;
    /* Màu chữ */
    border: 2px solid #ddd;
    /* Đường viền */
    border-radius: 5px;
    /* Đường cong góc */
    padding: 10px;
    /* Khoảng cách giữa đường viền và vùng nhập */
    width: 100%;
}

/* Thiết lập cho các trường nhập tệp đã được chọn */
input[type="file"]:valid {
    border-color: green;
    /* Đổi màu đường viền thành xanh lá cây */
}

/* Thiết lập cho các trường nhập tệp chưa được chọn */
input[type="file"]:invalid {
    border-color: red;
}

button[type="submit"] {
    background-color: var(--fontColer);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    animation: nhunnhay 2.8s infinite;
    cursor: pointer;
    width: 8rem;
    margin-left: 35%;
}

button[type="submit"]:hover {
    background-color: #07135a;
}

@keyframes nhunnhay {
    0% {
        transform: translateY(0);
        /* Không di chuyển */
    }

    50% {
        transform: translateY(-10px);
        /* Di chuyển lên */
    }

    100% {
        transform: translateY(0);
        /* Trở về vị trí ban đầu */
    }
}

/* @keyframes shake {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
} */

.success-message {
    font-size: 24px;
    font-weight: bold;
    color: green;
    text-align: center;
    /* margin-top: -12px; */
    opacity: 0;
    transition: opacity 1s ease-in-out;
    /* background-color: lightgreen; */
  }
  
  /* .animate {
    opacity: 1;
    animation: run-to-school 3s linear;
  }
  
  @keyframes run-to-school {
    0% { transform: translateX(0); }
    50% { transform: translateX(50%); }
    100% { transform: translateX(100%); }
  } */
  .success-message.active {
    opacity: 1;
  }
  .animate {
    opacity: 1;
    transform: scale(0.1);
    animation: scale-up 5s ease-in-out forwards;
  }
  
  @keyframes scale-up {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
 /* bảng điểm */
 .table {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 1.6rem;
  }
  .table h3{
    text-align: center;
    font-size: 1.6rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: var(--fontColer);
    color: white;
    font-weight: bold;
  }
  
  th, td {
    text-align: center;
    padding: 12px;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
  
  th:last-child, td:last-child {
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* --------------------------------------------------------------- */
  div#content div.courses {
	width: 80%;
	display: flex;
	margin: 0 auto;
    padding: 56px 0;
	background-color: var(--coursesColor);
}

div#content div.course {
	padding-left: 1.33333rem;
	padding-right: 1.33333rem;
	display: flex;
	flex-direction: column;
}

a.name-course {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #c4c8ca;
    padding-top: 16px;
}

a.name-course h2 {
	font-size: 1.3rem;
	color: var(--fontColer);
	min-height: 63px;
}

a.name-course span.arrow-course {
	border-radius: 50%;
    padding: 6px 10px;
    color: var(--fontColer);
}

div#content  div.courses .desc-course {
	margin-top: 1rem;
	margin-bottom: 1rem;
}