:root {
	--mainColor: #000f46;
	--coursesColor: #edf2f5;
	--fontSize-Heading: 2.4rem;
   --fontSize-Content: 1.1rem;
}

html {
   scroll-behavior: smooth !important;
}

.special-contents .special-content {
   height: 291px;
}

.special-contents .special-content p {
   height: 123px;
   overflow: auto;
   margin-top: 2rem;
}


/* Điều chỉnh độ rộng của thanh cuộn */
.special-contents .special-content p::-webkit-scrollbar {
   width: 6px; 
}
 
 /* Màu sắc của phần thumb của thanh cuộn */
.special-contents .special-content p::-webkit-scrollbar-thumb {
   background-color: #888; 
   border-radius: 3px; /* Bo góc của phần thumb */
}
 
 /* Màu sắc của phần track của thanh cuộn */
.special-contents .special-content p::-webkit-scrollbar-track {
   background-color: #f2f5ff; 
}

ul {
   list-style-type: none;
}

.close-nav:hover {
   color: #46c8f0;
}

.follow-container{
   margin-top: 3.4rem;
}

.follow {
   width: 70%;
   margin: 0 auto;
   text-align: center;
}

.follow h3 {
   font-size: 1.125rem;
   color: #fff;
}

ul.socials {
   justify-content: space-evenly;
   color: #fff;
   margin-top: 2rem;
}

ul.socials li i {
   font-size: 2.4rem;
}

/* PC */
@media only screen and (min-width: 1024px) {
   /* ============ MAJORS RESPONSIVE ========== */
   header {
      height: 76px !important;
   }

   div.logo img {
      height: 100% !important;
   }

   div.search-icon {
      padding: 0.4rem 1.1rem;
   }

   .nav-mobile-btn {
      display: none;
   }

   .sub-nav {
      display: none;
  }

   /* FOOTER SET */
   .top-footer {
      display: flex;
      align-items: center;
      /* padding: 6rem 0 3rem 0; */
      border-bottom: 1px solid #757474;
   }

   .mid-footer {
      padding: 4rem 0 2rem 0;
      border-bottom: 1px solid #757474;
   }

   /* ============ CTDT RESPONSIVE ========== */
}


/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   /* TRANG CHU TABLET (DUY) */
   .selectedText {
      display: none !important;
   }

   .text {
      display: block !important;
   }

   .courses .btn {
      opacity: 1;
      margin-left: 25% !important;

   }

   .btn {
      display: inline-block;
      background-color: white;
      color: var(--fontColer) !important;
   }

   .course-box {
      margin-bottom: 0;
      display: block !important;
      border-bottom: 5px solid #b6c1e6;
      padding: 20px;
   }

   .course-info {
      width: 100%;
   }
   div.course-img {
      overflow: hidden;
      width: 70%;
      margin: 0 auto;
  }
  .course-img img {
      width: 100%;
      transition: all 0.3s ease;
      margin-top:20px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
   }

   div.text {
      border: none;
      box-shadow: none;
      border-radius: unset;
   }

   /* DANG KY TABLET (DUY) */
   .container {
      width: 90%;
   }
   
   .apply .apply-table {
      width: 100%;
      margin-bottom: 2rem;
   }

   .apply .apply-img {
      width: 100%;
   }

   button.register-btn__dky {
      margin-left: 40%;
      margin-top: 0.8rem;
   }

   
   /* GO TO TOP */
   #top {
      right: 4.222222vw;
      bottom: 4.666667vw;
   }


   /* ============ MAJORS RESPONSIVE ========== */
   /* HEADER SET */
   body {
      position: relative;
   }

   ul.menu {
      display: none;
   }

   /* SUB NAV MENU */
   .sub-nav {
      display: none;
      position: absolute;
      background-color: var(--mainColor);
      box-shadow: 0 0 5px rgba(0, 0, 0, 4);
      right: 0;
      left: 50%;
      top: 0;
      height: 110vh;
      animation: tabletMenuAnimation ease 0.4s;
   }

   .open-nav {
      display: block;
   }

   @keyframes tabletMenuAnimation {
      from {
        opacity: 0;
        transform: translateX(50%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
   }

   .sub-nav-content {
      display: block;
   }

   .sub-nav-content ul {
      flex-direction: column;
      margin-top: 20%;
   }

   .sub-nav-content ul a {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 1.5rem;
      border-bottom: 1px solid #fff;
      color: #fff;
   }

   .close-nav {
      display: block;
      padding: 1rem;
      font-size: 2.5rem;
      color: #fff;
      background: #232e53;
   }

   .close-nav i {
      font-size: 1.8rem;
   }

   .close-nav:hover {
      cursor: pointer;
      opacity: 0.9;
   }

   .search-icon {
      display: none;
   }

   .nav-mobile-btn {
      color: #fff;
      font-size: 1.3rem;
      padding: 1.1rem;
   }
   /* END SUB NAV MENU */
   

   .it-major-header.info-system {
      top: 2%;
      left: 4%;
   }

   /* INTRODUCE SET */

   .section-join__right {
      width: 50% !important;
   }

   div.section-join__right > img {
      height: auto;
   }

   div.info-major-item {
      width: 100%;
   }

   /* SPECIAL CONTENT SET */
   .special-contents .special-content {
      width: 48% !important;
      margin-left: 0.5rem;
   }

   /* CONTACT SET */
   .contact-section {
      flex-direction: column;
  }

   .contact-left {
      width: 100% !important;
   }

   .contact-right {
      width: 100% !important;
      margin-left: 0;
   }

   .form-items {
      flex-direction: column;
   }

   .form-items div.input-item:nth-child(2) {
      margin-top: 1rem;
   }
   
   .contact-form input {
      width: 100%;
   }

   /* QUOTES SET */
   #quote-container {
      flex-direction: column;
   }

   .quote-left {
      width: 100% !important;
      margin: 0 0.9rem;
   }

   .quote-right {
      width: 100% !important;
   }

   .quote-left h2 {
      font-size: 1.75rem;
   }

   a.register-btn-major {
      margin: 4rem 0 4rem 30rem;
   }

   /* ============ CTDT RESPONSIVE ========== */
   /* WELCOME SLIDER SET */
   div.welcome-info > h2 {
      font-size: 2.6rem;
   }

   ul.top-search-lists {
      flex-direction: column;
   }

   ul.top-search-lists li {
      padding: 0.8rem;
   }

   .welcome-img img {
      object-fit: cover;
   }

   /* COURSES SET */
   div#content div.courses {
      width: unset;
      margin: 0;
      flex-wrap: wrap;
   }

   div#content div.course {
      width: 50% !important;
   }

   a.name-course h2 {
      font-size: 1.5rem;
   }

   .desc-course p {
      font-size: 1rem;
   }

   /* JOIN SET */
   div.section-join.ctdt > .section-join__left {
      margin-left: 0;
   }

   div.section-join.ctdt > .section-join__right img {
      object-fit: cover;
      height: 100%;
   }

   /* CONTAINER MAJOR SET */
   .container-major.ctdt {
      width: 90% !important;
      padding: 4.2rem 0;
   }

   .majors.ctdt {
      justify-content: space-between;
   }

   .majors.ctdt img {
      border-radius: 0.6rem;
   }

   div.majors.ctdt h3 {
      text-align: center;
   }

   .majors.ctdt .major-cell {
      width: 46.8%;
      margin: 1rem 0;
   }

   /* VIDEO SET */
   .passion.ctdt .passion-center {
      width: 90%;
   }

   .passion.ctdt .passion-center > .section-join__left {
      width: 100%;
      margin: 0;
      padding: 0 1.2rem 0 0;
   }

   .passion.ctdt .passion-video {
      width: 182%;
      text-align: center;
   }

   .passion.ctdt .passion-video > iframe {
      width: 100%;
   }

   /* BAT DAU VOI OU */

   .info-container.ctdt img {
      height: 100%;
      object-fit: cover;
   }

   .info-container.ctdt .right {
      margin-top: 0;
      width: 70% !important;
      padding: 4rem 0rem 4rem 0;
   }

   .info-container.ctdt .info-lists {
      width: 90%;
   }

   /* LIEN HE SET (DUY) */
   .container {
      flex-direction: column-reverse;
   }

   .mess {
      width: 100%;
      margin-right: 0;
   }

   .container-question {
      width: 100%;
      margin-bottom: 2.6rem;
   }

   /* GIOI THIEU TABLET (DUY) */
   .introduce .info {
      width: 100%;
   }
   
   .container.gthieu {
      flex-direction: column;
   }

   .prizes.prizes-list > div:nth-child(even) > div.container {
      flex-direction: column;
   }

   .prizes.prizes-list .container {
      margin-bottom: 6rem;
   }

   .prizes.prizes-list .container .info {
      width: 100%;
      padding: 0 0 1.6rem 0;
   }

   .prizes.prizes-list .container .info h4 {
      font-size: 1.5rem;
   }

   p {
      font-size: 1.3rem;
      text-align: justify;
   }

   .prizes.prizes-list .container .prize-image {
      width: 100%;
   }

   /* SU MENH */
   .prize-item {
      width: 46%;
   }
}


/* Mobile */
@media only screen and (max-width: 740px) {
   /* GO TO TOP */
   #top {
      right: 4.44444444vw;
      bottom: 4.44444444vw;
   }
   
   /* ============ MAJORS RESPONSIVE ========== */
   /* HEADER SET */
   header div.logo img {
      display: none;
   }
   
   body {
      position: relative;
   }

   ul.menu {
      display: none;
   }

   /* SUB NAV MENU */
   .sub-nav {
      display: none;
      position: absolute;
      background-color: var(--mainColor);
      box-shadow: 0 0 5px rgba(0, 0, 0, 4);
      right: 0;
      left: 0;
      top: 0;
      height: 110vh;
      cursor: pointer;
      animation: mobileMenuAnimation ease 0.4s;
   }

   .sub-menu {
      margin-top: 2rem;
   }

   .open-nav {
      display: block;
   }

   @keyframes mobileMenuAnimation {
      from {
        opacity: 0;
        transform: translateX(50%);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
   }

   .sub-nav-content {
      display: block;
      
   }

   .sub-nav-content ul {
      flex-direction: column;
   }

   .sub-nav-content ul a {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      padding: 1.5rem;
      border-bottom: 1px solid #fff;
      color: #fff;
   }

   .close-nav {
      display: block;
      padding: 1rem;
      font-size: 2.5rem;
      color: #fff;
      background: #232e53;
   }

   .close-nav i {
      font-size: 1.8rem;
   }

   .close-nav:hover {
      cursor: pointer;
      opacity: 0.9;
   }

   .search-icon {
      display: none;
   }

   .nav-mobile-btn {
      color: #fff;
      font-size: 1.3rem;
      padding: 1.3rem;
   }

   /* END SUB NAV MENU */


   /* SLIDER SET */
   #header-major-container {  
      position: relative;
   }

   .it-major-header {
      font-size: 0.8rem;
  }

  .it-major-header h2 {
      font-size: 2.1rem;
  }

  .it-major-header p {
      font-size: 1rem;
      margin-top: 1.6rem;
  }

  .it-major-header.info-system {
      top: 40%;
  }

  /* INTRODUCE SET */

   div.section-join {
      flex-direction: column;
   }

   .section-join__left {
      width: 100% !important;
      padding: 1rem;
   }

   .section-join__right {
      width: 100% !important;
   }

   .info-major-items {
      margin: 2rem 0;
   }

   .info-major-item {
      width: 100% !important;
   }

   div.info-major-item p {
      font-size: 1rem;
   }

   /* SPECIAL CONTENT SET */
   .special-contents .special-content {
      width: 100% !important;
   }


   /* NANG LUC DAU RA */
   .section-output-ability {
      flex-direction: column;
   }

   .section-left {
      width: 100% !important;
   }

   .section-right {
      width: 100% !important;
      margin: 4rem 0 0 0;
   }

   /* CARREER SET */
   .carreer-heading {
      flex-direction: column;
   }

   .carreer-heading {
      margin-bottom: 3rem;
   }

   .carreer-heading h2 {
      width: 100% !important;
   }

   .carreer-heading span {
      width: 100% !important;
      margin-top: 1rem;
   }

  /* CONTACT SET */
  .contact-section {
      flex-direction: column;
  }

  .contact-left {
      width: 100% !important;
  }

  .contact-right {
      width: 100% !important;
      margin-left: 0;
  }

  .form-items {
      flex-direction: column;
  }

  .form-items div.input-item:nth-child(2) {
      margin-top: 1rem;
   }

  .contact-form input {
      width: 100%;
  }

  /* QUOTES SET */
  #quote-container {
      flex-direction: column;
}

   .quote-left {
      width: 100% !important;
      margin: 0 0.9rem;
   }

   .quote-right {
      width: 100% !important;
   }

   .quote-left h2 {
      font-size: 1.75rem;
   }

   a.register-btn-major {
      margin: 1rem 0 1rem 0;
      padding: 1rem 0;
      width: 100%
   }

   /* FOOTER SET */
   .top-footer {
      flex-direction: column;
      
      text-align: center;
   }

   .top-footer-contact {
      width: 50% !important;
      margin-bottom: 1rem;
      font-size: 1.2rem;
   }

   .top-footer-contact span > i {
      display: none;
   }

   .mid-footer {
      flex-wrap: wrap;
   }

   .mid-footer div:first-child {
      padding-left: 0;
   }

   .bottom-footer {
      flex-direction: column;
      align-items: unset;
   }

   .bottom-footer > h3, .bottom-footer > p, .bottom-footer > p {
      margin-bottom: 0.6rem;
   }

   /* ============ CTDT RESPONSIVE ========== */
   /* WELCOME SLIDER SET */
   .welcome-slider {
      flex-direction: column-reverse;
   }

   .welcome-info {
      width: 90% !important;
      margin: 0 auto;
      padding: 2rem 0;
   }

   .welcome-img {
      width: 100% !important;
   }

   div.welcome-info > h2 {
      font-size:  rem;
   }

   ul.top-search-lists {
      flex-direction: column;
   }

   ul.top-search-lists li {
      padding: 0.8rem;
   }

   .welcome-img img {
      object-fit: cover;
   }

   /* COURSES SET */
   div#content div.courses {
      width: unset;
      margin: 0;
      flex-wrap: wrap;
   }

   div#content div.course {
      width: 100% !important;
   }

   a.name-course h2 {
      font-size: 1.5rem;
   }

   .desc-course p {
      font-size: 1rem;
   }

   /* JOIN SET */
   div.section-join.ctdt {
      flex-direction: column-reverse;
   }

   div.section-join.ctdt > .section-join__left {
      width: 85% !important;
      padding: 3rem 0;
      margin: 0 auto;
   }

   div.section-join.ctdt > .section-join__left > h2 {
      font-size: 1.6rem;
   }

   div.section-join.ctdt > .section-join__right img {
      object-fit: cover;
      height: 100%;
   }

   div.section-join.ctdt a.register-btn {
      padding: 12px 28px;
   }

   /* CONTAINER MAJOR SET */
   .container-major.ctdt {
      width: 85% !important;
      margin: 0 auto;
      padding: 0.6rem 0;
   }

   .container-major.ctdt > h2.major-path {
      font-size: 1.6rem;
      margin-bottom: 1rem;
   }

   .majors.ctdt {
      justify-content: space-between;
   }

   .majors.ctdt img {
      border-radius: 0.6rem;
   }

   div.majors.ctdt h3 {
      text-align: center;
   }

   .majors.ctdt .major-cell {
      width: 100%;
      margin: 0 0 2rem 0;
   }

   /* VIDEO SET */
   .passion.ctdt .passion-center {
      flex-direction: column;
      width: 85%;
      margin: 0 auto;
      padding: 3.2rem 0;
   }

   .passion.ctdt .passion-h2 {
      font-size: 1.6rem;
   }

   .passion.ctdt .passion-center > .section-join__left {
      width: 100%;
      margin: 0;
      padding: 0;
   }

   .passion.ctdt .passion-video {
      margin-top: 1.6rem;
      width: 100%;
      text-align: center;
   }

   .passion.ctdt .passion-video > iframe {
      width: 100%;
   }

   /* BAT DAU VOI OU */
   .info-container.ctdt {
      flex-direction: column;
   }

   .info-container.ctdt h3 {
      font-size: 1.6rem;
   }

   .info-container.ctdt li.info-list a {
      font-size: 1rem;
   }

   .info-container.ctdt .left {
      width: 100% !important;
   }

   .info-container.ctdt img {
      width: 100%;
   }

   .info-container.ctdt .right {
      width: 85% !important;
      margin: 0 auto;
      padding: 2rem 0;
   }

   .info-container.ctdt .info-lists {
      width: 100%;
      margin-right: 0 !important;
   }

   /* TRANG CHU SET (DUY) */
   :root {
      --fontColer : #094183;
   }
   
   .selectedText {
      display: none !important;
   }

   .text {
      display: block !important;
   }

   div.course-img {
      width: 100%;
   }

   .course-info {
      width: 100%;
   }

   .course-box {
      margin-bottom: 8%;
      display: block;
   }

   .courses .btn {
      width: 205px;
      margin: 0 15% 30px 15%;
      opacity: 1 !important;
      background-color: white;
      color: var(--fontColer) !important;
   }

   .course-img img {
      width: 100%;
      transition: all 0.3s ease;
      margin-top: 8%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
   }

   .course-img img:first-child {
      margin-top: 0px;
   }

   .row .col-4:nth-child(2) img {
      position: relative;
      top: -485px;
   }

   .row .col-4:nth-child(2) .course-info {
      position: relative;
      top: 210px;
   }

   .partners .row {
      display: block;
   }

   .partners .row .col-3 {
      max-width: 100%;
      padding: 10px 10px;
   }

   .slideshow-container {
      position: relative;
      width: 100%;
      height: 200px;
      overflow: hidden;
   }

   div.text {
      border: none;
      box-shadow: none;
      border-radius: unset;
   }
  
  
  /* GIOI THIEU SET (DUY) */
   .container {
      flex-direction: column !important;
      width: 100%;
      margin: 0;
   }

   .my-lord-icon {
      width: 126px !important;
      height: 126px !important;
   }

   .container.gthieu {
      width: 90%;
      margin: 0 auto;
   }

   .introduce .topic {
      width: 100%;
   }

   .introduce .info {
      width: 100%;
   }

   .prizes.prizes-list > div:nth-child(odd) > div.container {
      flex-direction: column-reverse !important;
   }

   .prizes.prizes-list .container {
      margin-bottom: 4rem;
   }

   .prizes.prizes-list .container .info {
      width: 100%;
      padding: 0 0 1.6rem 0;
   }

   .prizes.prizes-list .container .info h4 {
      font-size: 1.5rem;
   }

   p {
      font-size: 1.3rem;
      text-align: justify;
   }

   .prizes.prizes-list .container .prize-image {
      width: 100%;
   }

   /* SU MENH */
   .prize-item {
      width: 100%;
   }

/* DANG KY SET (DUY) */
   .apply .apply-img {
      width: 40%;
      display: none;
   }
   .apply .apply-table {
      width: 100%;
   }
   .container {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 2rem;
   }
   .table {
      width: 90%;
      margin: 0 auto;
      padding: 1rem;
      background-color: #f7f7f7;
      font-family: Arial, sans-serif;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
   }

   .table h3 {
      font-size: 1.2rem;
   }

   .table {
      font-size: 0.9rem !important;
   }

   button.register-btn__dky {
      margin-left: 24%;
      margin-top: 0.8rem;
   }

   /* LIEN HE SET (DUY) */
   .container {
      flex-direction: column-reverse;
   }

   .mess {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
   }

   .container-question {
      width: 100%;
      margin-bottom: 0;
      padding: 1.3rem 0.5rem;
   }

   .address-items {
      flex-direction: column-reverse;
      margin-top: 2rem;
   }

   .address-item {
      width: 100%;
      margin-top: 1.2rem;
   }

   .section-ques h2 {
      font-size: 1.3rem;
   }

   .ques {
      font-size: 0.78rem;
   }

   .section-ques .ques-item {
      margin: 0;
   }

   .location {
      width: 91%;
   }

   .main-container {
      width: 91%;
   }
}
